@import 'compass/css3/background-size';
@import 'compass/css3/images';

@mixin bg($sprite, $icon, $size: true, $densidad: 1){
  background-image: sprite-url($sprite);
  background-position: round(nth(sprite-position($sprite, $icon), 1)/$densidad) round(nth(sprite-position($sprite, $icon), 2)/$densidad);
  @include background-size(round(image-width(sprite-path($sprite))/$densidad) round(image-height(sprite-path($sprite))/$densidad));
  @if $size {
    width: round(image-width(sprite-file($sprite, $icon))/$densidad);
    height: round(image-height(sprite-file($sprite, $icon))/$densidad);
  }
}
@mixin retina-bg($sprite, $icon, $size: false, $densidad: 2){
  @include bg($sprite, $icon, $size, $densidad);
}

$intro: sprite-map('./intro/*.png', $spacing: 6px);
$strategy: sprite-map('./strategy/*.png', $spacing: 6px);
$sitios: sprite-map('./sitios/*.png', $spacing: 6px);
$redes: sprite-map('./redes/*.png', $spacing: 6px);
$apps: sprite-map('./apps/*.png', $spacing: 6px);
$diseno: sprite-map('./diseno/*.png', $spacing: 6px);
$nosotros: sprite-map('./nosotros/*.png', $spacing: 6px);
$contacto: sprite-map('./contacto/*.png', $spacing: 6px);

body {
  background: #eee;
}

article.slide{
  background: #ccc;
  .main{
    position: relative;
    border: 10px solid;
  }
  .asset{
    position: absolute;
  }
}

article#intro{
  .main{
    @include bg($intro, 'main');
  }
  .asset--globo{
    @include bg($intro, 'globo');
  }
}

article#strategy{
  .main{
    @include bg($strategy, 'main');
  }
  .asset--soldados{
    @include bg($strategy, 'soldados');
    top: 300px;
    left: 360px;
  }
  .asset--stick{
    @include bg($strategy, 'stick');
  }
}

article#sitios{
  .main{
    @include bg($sitios, 'main');
  }
  .asset--lap{
    @include bg($sitios, 'lap');
  }
  .asset--truck{
    @include bg($sitios, 'truck');
  }
  .asset--top{
    @include bg($sitios, 'top');
  }
}

article#redes{
  .main{
    @include bg($redes, 'main');
  }
  .asset--spider1{
    @include bg($redes, 'spider1');
  }
  .asset--spider2{
    @include bg($redes, 'spider2');
  }
  .asset--globo1{
    @include bg($redes, 'globo1');
  }
  .asset--globo2{
    @include bg($redes, 'globo2');
  }
}

article#apps{
  .main{
    @include bg($apps, 'main');
  }
  .asset--building{
    @include bg($apps, 'building');
  }
  .asset--crane{
    @include bg($apps, 'crane');
  }
  .asset--top{
    @include bg($apps, 'top');
  }
}

article#diseno{
  .main{
    @include bg($diseno, 'main');
  }
  .asset--color{
    @include bg($diseno, 'bucket');
  }
}

article#nosotros{
  .main{
    @include bg($nosotros, 'main');
  }
  .asset--photo{
    @include bg($nosotros, 'photo');
  }
  .asset--top{
    @include bg($nosotros, 'top');
  }
}

article#contacto{
  .main{
    @include bg($contacto, 'main');
  }
  .asset--circles{
    @include bg($contacto, 'circles');
  }
  .asset--top{
    @include bg($contacto, 'top');
  }
  .asset--ufo{
    @include bg($contacto, 'ufo');
  }
}



