body {
  background: #eee;
}

article.slide {
  background: #ccc;
}
article.slide .main {
  position: relative;
  border: 10px solid;
}
article.slide .asset {
  position: absolute;
}

article#intro .main {
  background-image: url('./intro-s35a9d2d50d.png');
  background-position: 0 -161px;
  -moz-background-size: 632px 998px;
  -o-background-size: 632px 998px;
  -webkit-background-size: 632px 998px;
  background-size: 632px 998px;
  width: 632px;
  height: 837px;
}
article#intro .asset--globo {
  background-image: url('./intro-s35a9d2d50d.png');
  background-position: 0 0;
  -moz-background-size: 632px 998px;
  -o-background-size: 632px 998px;
  -webkit-background-size: 632px 998px;
  background-size: 632px 998px;
  width: 134px;
  height: 155px;
}

article#strategy .main {
  background-image: url('./strategy-sf1727c7acb.png');
  background-position: 0 0;
  -moz-background-size: 1029px 1034px;
  -o-background-size: 1029px 1034px;
  -webkit-background-size: 1029px 1034px;
  background-size: 1029px 1034px;
  width: 1029px;
  height: 728px;
}
article#strategy .asset--soldados {
  background-image: url('./strategy-sf1727c7acb.png');
  background-position: 0 -734px;
  -moz-background-size: 1029px 1034px;
  -o-background-size: 1029px 1034px;
  -webkit-background-size: 1029px 1034px;
  background-size: 1029px 1034px;
  width: 115px;
  height: 108px;
  top: 300px;
  left: 360px;
}
article#strategy .asset--stick {
  background-image: url('./strategy-sf1727c7acb.png');
  background-position: 0 -848px;
  -moz-background-size: 1029px 1034px;
  -o-background-size: 1029px 1034px;
  -webkit-background-size: 1029px 1034px;
  background-size: 1029px 1034px;
  width: 316px;
  height: 186px;
}

article#sitios .main {
  background-image: url('./sitios-s965ef43b9e.png');
  background-position: 0 -50px;
  -moz-background-size: 1050px 1439px;
  -o-background-size: 1050px 1439px;
  -webkit-background-size: 1050px 1439px;
  background-size: 1050px 1439px;
  width: 1050px;
  height: 304px;
}
article#sitios .asset--lap {
  background-image: url('./sitios-s965ef43b9e.png');
  background-position: 0 0;
  -moz-background-size: 1050px 1439px;
  -o-background-size: 1050px 1439px;
  -webkit-background-size: 1050px 1439px;
  background-size: 1050px 1439px;
  width: 69px;
  height: 44px;
}
article#sitios .asset--truck {
  background-image: url('./sitios-s965ef43b9e.png');
  background-position: 0 -1253px;
  -moz-background-size: 1050px 1439px;
  -o-background-size: 1050px 1439px;
  -webkit-background-size: 1050px 1439px;
  background-size: 1050px 1439px;
  width: 327px;
  height: 186px;
}
article#sitios .asset--top {
  background-image: url('./sitios-s965ef43b9e.png');
  background-position: 0 -360px;
  -moz-background-size: 1050px 1439px;
  -o-background-size: 1050px 1439px;
  -webkit-background-size: 1050px 1439px;
  background-size: 1050px 1439px;
  width: 755px;
  height: 887px;
}

article#redes .main {
  background-image: url('./redes-s30848e281b.png');
  background-position: 0 -265px;
  -moz-background-size: 592px 1156px;
  -o-background-size: 592px 1156px;
  -webkit-background-size: 592px 1156px;
  background-size: 592px 1156px;
  width: 592px;
  height: 705px;
}
article#redes .asset--spider1 {
  background-image: url('./redes-s30848e281b.png');
  background-position: 0 -976px;
  -moz-background-size: 592px 1156px;
  -o-background-size: 592px 1156px;
  -webkit-background-size: 592px 1156px;
  background-size: 592px 1156px;
  width: 112px;
  height: 90px;
}
article#redes .asset--spider2 {
  background-image: url('./redes-s30848e281b.png');
  background-position: 0 -1072px;
  -moz-background-size: 592px 1156px;
  -o-background-size: 592px 1156px;
  -webkit-background-size: 592px 1156px;
  background-size: 592px 1156px;
  width: 105px;
  height: 84px;
}
article#redes .asset--globo1 {
  background-image: url('./redes-s30848e281b.png');
  background-position: 0 0;
  -moz-background-size: 592px 1156px;
  -o-background-size: 592px 1156px;
  -webkit-background-size: 592px 1156px;
  background-size: 592px 1156px;
  width: 136px;
  height: 141px;
}
article#redes .asset--globo2 {
  background-image: url('./redes-s30848e281b.png');
  background-position: 0 -147px;
  -moz-background-size: 592px 1156px;
  -o-background-size: 592px 1156px;
  -webkit-background-size: 592px 1156px;
  background-size: 592px 1156px;
  width: 97px;
  height: 112px;
}

article#apps .main {
  background-image: url('./apps-sa7b81d5caa.png');
  background-position: 0 -846px;
  -moz-background-size: 649px 2531px;
  -o-background-size: 649px 2531px;
  -webkit-background-size: 649px 2531px;
  background-size: 649px 2531px;
  width: 649px;
  height: 954px;
}
article#apps .asset--building {
  background-image: url('./apps-sa7b81d5caa.png');
  background-position: 0 0;
  -moz-background-size: 649px 2531px;
  -o-background-size: 649px 2531px;
  -webkit-background-size: 649px 2531px;
  background-size: 649px 2531px;
  width: 152px;
  height: 471px;
}
article#apps .asset--crane {
  background-image: url('./apps-sa7b81d5caa.png');
  background-position: 0 -477px;
  -moz-background-size: 649px 2531px;
  -o-background-size: 649px 2531px;
  -webkit-background-size: 649px 2531px;
  background-size: 649px 2531px;
  width: 23px;
  height: 363px;
}
article#apps .asset--top {
  background-image: url('./apps-sa7b81d5caa.png');
  background-position: 0 -1806px;
  -moz-background-size: 649px 2531px;
  -o-background-size: 649px 2531px;
  -webkit-background-size: 649px 2531px;
  background-size: 649px 2531px;
  width: 392px;
  height: 725px;
}

article#diseno .main {
  background-image: url('./diseno-s106011c23c.png');
  background-position: 0 -923px;
  -moz-background-size: 1114px 1785px;
  -o-background-size: 1114px 1785px;
  -webkit-background-size: 1114px 1785px;
  background-size: 1114px 1785px;
  width: 1114px;
  height: 862px;
}
article#diseno .asset--color {
  background-image: url('./diseno-s106011c23c.png');
  background-position: 0 0;
  -moz-background-size: 1114px 1785px;
  -o-background-size: 1114px 1785px;
  -webkit-background-size: 1114px 1785px;
  background-size: 1114px 1785px;
  width: 56px;
  height: 49px;
}

article#nosotros .main {
  background-image: url('./nosotros-s2d2e968778.png');
  background-position: 0 0;
  -moz-background-size: 537px 803px;
  -o-background-size: 537px 803px;
  -webkit-background-size: 537px 803px;
  background-size: 537px 803px;
  width: 498px;
  height: 210px;
}
article#nosotros .asset--photo {
  background-image: url('./nosotros-s2d2e968778.png');
  background-position: 0 -216px;
  -moz-background-size: 537px 803px;
  -o-background-size: 537px 803px;
  -webkit-background-size: 537px 803px;
  background-size: 537px 803px;
  width: 433px;
  height: 182px;
}
article#nosotros .asset--top {
  background-image: url('./nosotros-s2d2e968778.png');
  background-position: 0 -404px;
  -moz-background-size: 537px 803px;
  -o-background-size: 537px 803px;
  -webkit-background-size: 537px 803px;
  background-size: 537px 803px;
  width: 537px;
  height: 399px;
}

article#contacto .main {
  background-image: url('./contacto-se64712a619.png');
  background-position: 0 -222px;
  -moz-background-size: 893px 1246px;
  -o-background-size: 893px 1246px;
  -webkit-background-size: 893px 1246px;
  background-size: 893px 1246px;
  width: 596px;
  height: 216px;
}
article#contacto .asset--circles {
  background-image: url('./contacto-se64712a619.png');
  background-position: 0 0;
  -moz-background-size: 893px 1246px;
  -o-background-size: 893px 1246px;
  -webkit-background-size: 893px 1246px;
  background-size: 893px 1246px;
  width: 596px;
  height: 216px;
}
article#contacto .asset--top {
  background-image: url('./contacto-se64712a619.png');
  background-position: 0 -444px;
  -moz-background-size: 893px 1246px;
  -o-background-size: 893px 1246px;
  -webkit-background-size: 893px 1246px;
  background-size: 893px 1246px;
  width: 893px;
  height: 720px;
}
article#contacto .asset--ufo {
  background-image: url('./contacto-se64712a619.png');
  background-position: 0 -1170px;
  -moz-background-size: 893px 1246px;
  -o-background-size: 893px 1246px;
  -webkit-background-size: 893px 1246px;
  background-size: 893px 1246px;
  width: 146px;
  height: 76px;
}
