<link rel="stylesheet" href="/css/osom.css">

<article id="intro" class="slide">
  <div class="main">
    <div class="asset asset--globo"></div>
  </div>
</article>

<article id="strategy" class="slide">
  <div class="main">
    <div class="asset asset--soldados"></div>
    <div class="asset asset--stick"></div>
  </div>
</article>

<article id="sitios" class="slide">
  <div class="main">
    <div class="asset asset--lap"></div>
    <div class="asset asset--truck"></div>
    <div class="asset asset--top"></div>
  </div>
</article>

<article id="redes" class="slide">
  <div class="main">
    <div class="asset asset--spider1"></div>
    <div class="asset asset--spider2"></div>
    <div class="asset asset--globo1"></div>
    <div class="asset asset--globo2"></div>
  </div>
</article>

<article id="apps" class="slide">
  <div class="main">
    <div class="asset asset--building"></div>
    <div class="asset asset--crane"></div>
    <div class="asset asset--top"></div>
  </div>
</article>

<article id="diseno" class="slide">
  <div class="main">
    <div class="asset asset--color"></div>
    <div class="asset asset--bucket"></div>
  </div>
</article>

<article id="nosotros" class="slide">
  <div class="main">
    <div class="asset asset--photo"></div>
    <div class="asset asset--top"></div>
  </div>
</article>

<article id="contacto" class="slide">
  <div class="main">
    <div class="asset asset--circles"></div>
    <div class="asset asset--top"></div>
    <div class="asset asset--ufo"></div>
  </div>
</article>
